<!DOCTYPE html>
<html>
    <head>
        <title>Profile Page</title>
        <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/others_profile.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Shrikhand&family=Tilt+Prism&display=swap" rel="stylesheet">
    </head>
<header>
    <div class="logo">
      <a href="#">Hobbyist</a>
    </div>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Feed</a></li>
        <li><a href="#">Groups</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </nav>
</header>
    <body>
	<div class="profile-container">
		<div class="profile-image-container">
			<img class="profile-image" src="https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg?w=740&t=st=1681374148~exp=1681374748~hmac=1395d44da9f57e623b892e76b262cb2befe66d60df997fc933a7975050e57426" alt="Profile Picture">
			<h1 class="profile-name"><%=profile.user.firstName + " " + profile.user.lastName%></h1>
			<h3 class="profile-username"> <%="@"+profile.user.username%></h3>
            <button class="edit-profile-button" id="edit-profile-button">Edit profile</button>
			<button class="friend-request-button" id="friend-request-button">Send Friend Request</button>
			<script> 
			if ('<%= currentUserId %>' === '<%=requestedUserId%>') 
			document.getElementById('friend-request-button').style.display = "none";
			else document.getElementById('edit-profile-button').style.display = "none";
			</script>
		</div>
		<div class="profile-info-container">
			<div class="profile-details-container">
				<div class="profile-detail">
					<h3>Hobbies:</h3>
					<p id="hobbies-list"> <script> // FIX
						const hobbiesArray = '<%=profile.user.hobbies%>';
						const hobbiesList = document.getElementById('hobbies-list');
						if (hobbiesArray.length === 0){
							hobbiesList.innerHTML = "N/A";
						}
						else for (let i = 0; i < hobbiesArray.length; i++) {
							hobbiesList.innerHTML += hobbiesArray[i] + "<br>";
						}
					</script>
					</p>
				</div>
				<div class="profile-detail">
					<h3>Description:</h3>
					<p id="description"> <script> 
						const profileDesc = '<%=profile.description%>';
						const desc = document.getElementById('description');
						if (!profileDesc)
							 desc.innerHTML = "N/A";
						else 
							 desc.innerHTML = profileDesc;
					</script>
					</p>
				</div>
				<div class="profile-detail">
					<h3>Location:</h3>
					<p>
						
					</p>
				</div>
				<div class="profile-detail">
					<h3>Gender:</h3>
					<p>Male</p>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
