<!DOCTYPE html>
<html>
    <head>
        <title>Profile Page</title>
		<script src="https://cdn.jsdelivr.net/npm/he/he.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/others_profile.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Shrikhand&family=Tilt+Prism&display=swap" rel="stylesheet">
    </head>
<header>
    <div class="logo"> <!--FIX-->
      <a href="#">Hobbyist</a>
    </div>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Friends</a></li>
        <li><a href="#">Groups</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </nav>
</header>
    <body>
	<div class="profile-container">
		<div class="profile-image-container">
			<img class="profile-image" src=<%=otherProfile.profilePicture%> alt="Profile Picture">
			<h1 class="profile-name"><%=otherProfile.user.firstName + " " + otherProfile.user.lastName%></h1>
			<h3 class="profile-username"> <%="@"+otherProfile.user.username%></h3>
            <button class="edit-profile-button" id="edit-profile-button">Edit profile</button>
			
			<button class="friend-request-button" id="friend-request-button">Send Friend Request</button>
			<div id="error-message" style="display: none;"></div>
			<script> 
			if ('<%= currentUserId %>' === '<%=requestedUserId%>'){
			document.getElementById('friend-request-button').style.display = "none";
			const editProfileButton = document.getElementById('edit-profile-button');
				editProfileButton.addEventListener('click', (event) => {
					event.preventDefault();
					window.location.href = 'edit/';
				});
			}
			else {
			document.getElementById('edit-profile-button').style.display = "none";
			// check if already a friend FIX
			const friends = '<%=JSON.stringify(otherProfile.user.friends)%>';
			const friendReqButton = document.getElementById('friend-request-button');
			if (friends.includes('<%=myProfile.user.username%>')) {
				friendReqButton.textContent = "Already Friends";
				friendReqButton.disabled = true;
			}
			// check if pending , else give option to add friend
			else {
				
				fetch('/api/friendships/check-request', {
					method: 'POST',
					headers: {"Content-Type":"application/json; charset=UTF-8"},
					body: JSON.stringify({
							myUserId: '<%=myProfile.user._id%>',
							otherUserId: '<%=otherProfile.user._id%>'
							})
						})
						.then(response => response.json())
						.then(data => {
						if (data.status === "Request pending!") {
							friendReqButton.textContent = "Request pending...";
							friendReqButton.disabled = true;
						} else if (data.status === "Not friends!") {
							friendReqButton.textContent = "Add friend";	
								
								friendReqButton.addEventListener("click", (event) =>{
									event.preventDefault();
									fetch('/api/friendships/request/', {
										method: 'POST',
										headers: {"Content-Type":"application/json; charset=UTF-8"},
										body: JSON.stringify({
											sender: '<%=myProfile.user._id%>',
											receiver: '<%=otherProfile.user._id%>'
										})
									})
									.then(response => response.json())
									.then(data => {
										if (data.status === 'Request successfully sent!'){
											friendReqButton.textContent = "Request pending...";
											friendReqButton.disabled = true;
										}
									}).catch(error => {
										const errorMessage = document.getElementById('error-message');
										errorMessage.textContent = 'Failed to send friend request!' + error.message;
										errorMessage.style.display = 'block';
									})
								})
							
							}
						}).catch(error => console.error(error));
						}		
				}
			
			</script>
		</div>
		<div class="profile-info-container">
			<div class="profile-details-container">
				<div class="profile-detail">
					<h3>Hobbies</h3>
					<p id="hobbies-list"> <script> 
						const hobbiesArray = '<%=otherProfile.hobbies%>';
						const hobbiesList = document.getElementById('hobbies-list');
						if (hobbiesArray.length === 0) hobbiesList.innerText = "N/A"
						else hobbiesList.innerText = hobbiesArray;
					</script>
					</p>
				</div>
				<div class="profile-detail">
					<h3>Description</h3>
					<p id="description"> <script> 

					var myString = he.decode('<%=otherProfile.description%>');
					document.getElementById("description").innerHTML = myString.replace(/\n/g, "<br>");
					</script>
					</p>
				</div>
				<div class="profile-detail">
					<h3>Location</h3>
					<p id="location"><script>
						document.getElementById('location').innerHTML = '<%=otherProfile.location%>';
					</script>
					</p>
				</div>
				<div class="profile-detail">
					<h3>Gender</h3>
					<p id="gender"> <script>
						document.getElementById('gender').innerHTML = '<%=otherProfile.gender%>';
					</script></p>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
